@import 'tailwindcss';
@import '@nuxt/ui';

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter-italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: 'inter';

  --color-base-100: oklch(96% 0.003 264.542);
  --color-base-200: oklch(87% 0.01 258.338);
  --color-base-300: oklch(55% 0.027 264.364);

  --color-content-100: oklch(15% 0 0);
  --color-content-200: oklch(25% 0 0);
  --color-content-300: oklch(30% 0 0);

  --color-primary-500: oklch(14% 0.005 285.823);
  --color-secondary-500: oklch(41.703% 0.099 251.473);
  --color-accent-500: oklch(67.271% 0.167 35.791);

  /* TODO: nuxt is defaulting to white, instead of neutral */
  --color-neutral-500: oklch(64.092% 0.027 229.389);

  --color-info-500: oklch(62.616% 0.143 240.033);
  --color-success-500: oklch(70.226% 0.094 156.596);
  --color-warning-500: oklch(77.482% 0.115 81.519);
  --color-error-500: oklch(51.61% 0.146 29.674);
}

.dark {
  /* Base Colors */
  --color-base-100: oklch(15% 0 0);
  --color-base-200: oklch(25% 0 0);
  --color-base-300: oklch(30% 0 0);

  --color-content-100: oklch(96% 0.003 264.542);
  --color-content-200: oklch(87% 0.01 258.338);
  --color-content-300: oklch(55% 0.027 264.364);

  --color-primary-500: oklch(92% 0.006 264.531);
  --color-secondary-500: oklch(41.703% 0.099 251.473);
  --color-accent-500: oklch(67.271% 0.167 35.791);

  /* TODO: nuxt is defaulting to white, instead of neutral */
  --color-neutral-500: oklch(64.092% 0.027 229.389);

  --color-info-500: oklch(62.616% 0.143 240.033);
  --color-success-500: oklch(70.226% 0.094 156.596);
  --color-warning-500: oklch(77.482% 0.115 81.519);
  --color-error-500: oklch(51.61% 0.146 29.674);
}

:root {
  --ui-primary: var(--color-primary-500);
  --ui-secondary: var(--color-secondary-500);
  --ui-accent: var(--color-accent-500);
  --ui-neutral: var(--color-neutral-500);
  --ui-info: var(--color-info-500);
  --ui-success: var(--color-success-500);
  --ui-warning: var(--color-warning-500);
  --ui-error: var(--color-error-500);

  /* Background and Text */
  --ui-bg: var(--color-base-100);
  --ui-bg-muted: var(--color-base-200);
  --ui-bg-elevated: var(--color-base-300);
  --ui-bg-accented: var(--color-neutral-500);

  --ui-text-dimmed: var(--color-content-300);
  --ui-text-muted: var(--color-content-200);
  --ui-text-toned: var(--color-content-100);
  --ui-text: var(--color-content-100);
  --ui-text-highlighted: var(--color-content-100);

  /* Borders and Rings */
  --ui-border: var(--color-content-100);
  --ui-border-muted: var(--color-content-200);
  --ui-border-accented: var(--color-content-300);

  --ui-ring: var(--color-content-100);
  --ui-ring-muted: var(--color-content-200);
  --ui-ring-accented: var(--color-content-300);

  /* Dividers and Outlines */
  --ui-divide: var(--color-content-100);
  --ui-divide-muted: var(--color-content-200);
  --ui-divide-accented: var(--color-content-300);

  --ui-outline: var(--color-content-100);
  --ui-outline-muted: var(--color-content-200);
  --ui-outline-accented: var(--color-content-300);

  /* Radius and Border */
  --ui-radius: 0.1rem;
  --ui-border-size: 1px;
}
