@import 'tailwindcss';
@import '@nuxt/ui';
@import './theme.css';
@import './reset.css';

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'inter';
}
